{{#extend 'styles'}}
  <style>
    .error {
      color: red;
    }
    .success {
      color:green;
    }
  </style>
{{/extend}}
  <script type="text/javascript">
    function setIncomeUrl(url,id){
        document.getElementById('profile_verify_photo').src=url;
        document.getElementById('income_href').href="/verify/income/" + id;
      }
  </script>
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Income unverified List
    <small>All users listed</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="{{{url 'dashboard.v1'}}}"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">List</li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      {{#if message}}
        {{{message}}}
      {{/if}}
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">All users</h3>
          <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" id="table-search" class="form-control pull-right" placeholder="Search">

              <div class="input-group-btn">
                <button type="button" class="btn btn-default search"><i class="fa fa-search"></i></button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <tr>
              <th>ID</th>
              <th>Username</th>
              
              <th>Email</th>
              <th>Actions</th>
            </tr>
            {{#each crud_user }}
              <tr>
                <td>
                  <a href="/crud/user/{{this.id}}">
                    {{this.id}}
                  </a>
                </td>
                <td>
                  <a href="/crud/user/{{this.id}}">
                    {{this.name}}
                  </a>
                </td>
                
                <td>

                   {{this.email}}

                </td>
                <td>
                  <a onclick="setIncomeUrl('{{this.verify_img.income}}','{{this.id}}')" class="btn btn-xs btn-info" data-toggle="modal" data-target="#myModal">
                    <i class="glyphicon glyphicon-eye-open"></i>
                    Show
                  </a>
                </td>
              </tr>
            {{/each}}
          </table>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
  </div>
  <!-- /.row -->
</section>
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">{{crud_user.name}}</h4>
      </div>
      <div class="modal-body">
        <div class=".photo_container">
          <img id="profile_verify_photo" width="100%" height="100%">
        </div>
      </div>
      <div class="modal-footer">
        <a id="income_href" href="/verify/income/{{crud_user.id}}" type="button" class="btn btn-success">verify</a>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- /.section -->
{{#extend 'scripts'}}
  <script>

    (function($) {
      // Delete user button
      $('.btn-danger').click(function(event) {
        event.preventDefault();

        var uri = $(this).attr('data-href');
        
        if (confirm('¿Desea eliminar el usuario?')) {
          $.post(uri, function(response) {
            window.location.href = '/crud/users';
          });
        }
      });
      
    })(jQuery)
  </script>

{{/extend}}